.navbar {
  position: relative;
  padding: 0 60px;
  @include FlexBetween;
  @include FullDimension;
  &__brand {
    flex: 1;
  }

  .searchbox {
    position: relative;
    &__input {
      flex-direction: row-reverse;
      width: 250px;
      padding-left: 15px;
      height: 28px;

      @include FlexBetween;
      @include BorderRadius;
      background: $secondary-color-main;
      img {
        opacity: 0.5;
        width: 18px;
        margin-right: 5px;
        transition: 0.4s ease-in-out;
      }

      input {
        width: inherit;
        display: block;
        height: 100%;
        font-weight: normal;
        background: none;
        font-size: 14px;
        border: none;
        letter-spacing: 0.5px;
        outline: none;

        color: $primary-color-font;
        &::placeholder {
          transition: 0.4s ease-in-out;
          opacity: 0.5;

          color: $primary-color-font;
        }

        &:focus {
          & + img {
            opacity: 1;
          }

          &::placeholder {
            opacity: 1;
          }
        }
      }
    }

    &__result {
      left: 0;
      top: 35px;
      animation: fadeIn 0.25s ease-in-out forwards;
      width: 100%;
      position: absolute;
      padding: 15px 0 10px 0;
      border-radius: 0 0 2px 2px;

      background: $primary-color-lighter;
      a {
        cursor: pointer;
        padding: 0 15px 15px 15px;
        opacity: 0.5;
        transition: 0.2s ease-in-out;
        color: $primary-color-font;
        @include FlexBetween;
      }

      .column-active {
        opacity: 1;
      }

      &::before {
        content: "";
        position: absolute;

        top: -7px;
        left: 10px;
        height: 0;
        width: 0;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 7px solid $primary-color-lighter;
      }
    }
  }

  &__groupbtn {
    &-desktop {
      @include FlexAround;
      & > * {
        margin-left: 25px;
      }

      .btn__link {
        letter-spacing: 0.5px;
        font-weight: 500;
        padding: 6px 13px;
        transition: 0.2s ease-in-out;
        font-size: 0.88em;
        color: $primary-color-font;
        &:hover {
          color: $support-color-main;
        }
      }

      .outline {
        border: 1px solid $support-color-main;
        color: $support-color-main;

        &:hover {
          color: $primary-color-font;
          border: 1px solid $primary-color-font;
        }
      }
    }
    &-mobile {
      display: none;

      .navbar__btn-mobile {
        span {
          display: block;
          height: 8px;
          width: 40px;
          margin: 5px 0;
          transition: 0.3s ease-in-out;
          background: $primary-color-font;
        }

        &-active {
          span:first-child {
            transform: translateY(13px) rotate(45deg);
          }

          span:nth-child(2) {
            width: 0;
          }

          span:last-child {
            transform: translateY(-13px) rotate(-45deg);
          }
        }
      }

      .navbar__divider {
        display: block;
        height: 1px;
        margin: 20px 0;
        width: 100%;
        background: $primary-color-font;
      }

      .navbar__dropdown-mobile {
        position: absolute;
        top: 64px;
        left: 0;
        width: 100%;
        transform: translateX(100%);

        transition: 0.3s ease-in;
        background: $primary-color-lighter;
        padding: 20px 0;
        & > *:not(.navbar__divider) {
          opacity: 0.7;
          padding: 7px 20px;
          margin-bottom: 5px;
          &:active {
            opacity: 1;
          }
        }

        &-active {
          transform: translateX(0);
        }
        .btn__link {
          color: $primary-color-font;
          display: block;
        }
        .btn-mobile {
          color: $primary-color-font;
          @include NoBorderOutline;
          background: none;
        }
      }
    }
  }

  &__user {
    cursor: pointer;
    @include FlexBetween;
    .name {
      letter-spacing: 1px;
      margin-right: 5px;
      color: $primary-color-font;
    }

    .avatar {
      margin-right: 5px;
      max-height: 32px;
      max-width: 32px;
      @include ImageBox;
    }
  }

  &__drawer {
    padding: 20px;
    letter-spacing: 1px;
    position: fixed;
    width: 350px;
    height: 100vh;
    z-index: 999;
    top: 0;
    right: 0;
    color: $primary-color-font;
    background: $primary-color-lighter;
  }

  .drawer {
    &__active {
      animation: sliceInFromRight 0.5s ease-in-out forwards;
    }

    &__inactive {
      animation: sliceOutFromRight 0.5s ease-in-out forwards;
    }

    &__initial {
      transform: translateX(100%);
    }

    &__column {
      @include FlexBetween;
      margin-bottom: 20px;
    }

    &__link,
    &__btn {
      opacity: 0.5;
      display: block;
      width: 100%;
      font-size: 0.88em;
      transition: 0.4s ease-in-out;
      color: $primary-color-font;
      &:hover {
        opacity: 1;
      }
    }

    &__btn {
      text-align: start;
      background: transparent;
      cursor: pointer;
      @include NoBorderOutline;
    }

    &__divider {
      display: block;
      margin-bottom: 20px;
      opacity: 0.3;
      border: 0.5px solid $primary-color-font;
    }

    &__background {
      opacity: 0.5;
      position: fixed;
      top: 0;
      right: 0;
      width: 100vw;
      height: 100vh;
      z-index: 10;
      background: $primary-color-main;
    }
  }

  .menu-btn {
    cursor: pointer;
  }
}

@media only screen and (max-width: 900px) {
  .navbar {
    padding: 0 10px;

    &__groupbtn {
      &-desktop {
        display: none;
      }
      &-mobile {
        display: block;
      }
    }
  }
}
