.dashboard {
  display: flex;
  min-height: 100vh;
  width: 100%;
  animation: fadeIn 0.4s ease-in-out;
  &__controller {
    color: #fefefe;
    flex: 2;
    max-width: 250px;
    padding: 20px;
    background: #636363;
    & > * {
      margin-bottom: 20px;
    }
  }

  .dash__grid {
    column-gap: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(10, 1fr);
  }

  &__main {
    padding: 20px;
    flex: 5;
  }

  .controller {
    &__menu {
      &.active {
        img {
          transform: rotate(180deg);
        }

        .controller__dropdown {
          max-height: 500px;
        }
      }
    }
    &__title {
      letter-spacing: 1px;
    }

    &__divider {
      display: block;
      opacity: 0.5;
      border: 1px solid $primary-color-font;
    }

    &__section {
      cursor: pointer;
      align-items: center;
      display: flex;
      h4 {
        letter-spacing: 1px;
        margin-right: 5px;
        font-weight: 550;
      }

      img {
        transition: 0.5s ease-in-out;
      }
    }

    &__dropdown {
      margin-top: 5px;
      padding-left: 15px;
      max-height: 0;
      overflow: hidden;
      transition: 0.5s ease-in-out;

      & > * {
        margin-bottom: 5px;
      }

      .dropdown {
        &__column {
          a {
            display: block;
            padding: 5px 10px;
            opacity: 0.8;
            transition: 0.2s ease-in-out;
            color: $primary-color-font;
            &:hover {
              opacity: 1;
              color: $support-color-main;
            }
          }
        }
      }
    }
  }

  .dash {
    &__role {
      @include FullDimension;
    }

    &__row {
      display: grid;
      margin-bottom: 20px;
      align-items: stretch;

      grid-template-columns: repeat(3, minmax(300px, 1fr));
    }

    &__box {
      max-width: 200px;
      .col__tag {
        opacity: 0.5;
        margin-bottom: 10px;
        color: $primary-color-font;

        font-weight: bold;
      }
    }

    &__col {
      &-2 {
        grid-column-start: 1;
        grid-column-end: 3;
      }

      &-3 {
        grid-column-start: 1;
        grid-column-end: 5;
      }

      .col__tag {
        opacity: 0.5;
        margin-bottom: 10px;
        color: $primary-color-font;

        font-weight: bold;
      }
    }

    &__addnewgame {
    }
  }

  .table {
    border-collapse: collapse;
    background-color: $secondary-color-main;
    display: inline-block;
    animation: fadeIn 0.4s ease-in-out;
    max-height: 500px;
    overflow: auto;
    font-size: 0.88em;
    &__thead {
      color: $primary-color-font;
    }

    &__tbody {
      color: $primary-color-font;
    }

    &__tr {
    }

    &__td,
    &__th {
      text-align: left;
      border: 1px solid $primary-color-lighter;
      padding: 7px 20px;
      max-width: 200px;
    }

    &__td {
    }

    &__th {
      background: $primary-color-lighter;
    }
  }
}
