.introduction {
    padding: 12.5vh 12vw;
    animation: fadeIn 0.5s ease-in-out;
    min-height: 100vh;
    z-index: 1;

    @include FlexStretch;

    &__banner {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        column-gap: 50px;
        row-gap: 50px;
    }

    .banner {
        &__image {
            margin-right: 70px;
            width: 100%;

            img {
                width: inherit;
                object-fit: contain;
                height: inherit;
            }
        }

        &__content {
            display: flex;

            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            color: $primary-color-font;
            .content__title {
                letter-spacing: 2px;
                text-align: end;
                margin-bottom: 50px;
                h4 {
                    opacity: 0.5;
                }
            }

            p {
                max-width: 590px;
                text-indent: 10px;
                opacity: 0.5;
                letter-spacing: 2px;
                margin-bottom: 30px;
                line-height: 30px;
            }

            .content__link {
                font-size: 18px;
                font-weight: bold;
                letter-spacing: 2px;
                padding: 10px 30px;
                transition: 0.1s ease-in-out;

                @include BorderRadius;
                background-color: $secondary-color-main;
                color: $primary-color-font;
                &:active {
                    background-color: $primary-color-main;
                }
            }
        }
    }
}
