.product {
  min-height: 100vh;
  padding: 50px 120px;
  &__jumbotron {
    height: 350px;
    animation: fadeIn 0.4s;
    width: 100%;
    position: relative;
  }

  .jumbotron {
    &__slice {
      height: inherit;
      position: absolute;
      transition: 1s ease-in-out;
      opacity: 0;
      @include FlexBetween;
    }
    &__img {
      flex: 65%;
      width: 100%;
      position: relative;
      height: inherit;
      img {
        height: inherit;
        width: 100%;
        object-fit: cover;
      }
    }

    &__active {
      opacity: 1;

      z-index: 10;
    }

    &__indicator {
      position: absolute;
      bottom: 10px;
      z-index: 10;
      width: inherit;
      transition: 0.2s;
      @include FlexCenter;
      .active {
        background: $primary-color-lighter;
      }
      span {
        @include BorderRadius;
        display: block;
        height: 10px;
        width: 40px;
        background: $primary-color-font;
        margin: 0 5px;
      }
    }

    &__content {
      flex: 35%;
      height: inherit;
      background: $primary-color-lighter;
      color: $primary-color-font;
      display: flex;
      flex-direction: column;
      padding: 30px 20px 25px 20px;
      .content {
        &__subtitle {
          font-weight: bold;
          opacity: 0.5;
          margin-bottom: 10px;
        }

        &__title {
          margin-bottom: 10px;
        }

        &__main {
          opacity: 0.5;
          text-indent: 20px;
          line-height: 25px;
          overflow: hidden;
          margin-bottom: 30px;
          flex: 1;
        }

        &__link {
          display: flex;
          cursor: pointer;
          color: $primary-color-font;
          transition: 0.2s;
          p {
            margin-right: 5px;
          }

          img {
            transition: 1s;
          }
          &:hover {
            img {
              transform: translateX(50%);
            }
          }
        }
      }
    }
  }
  &__main {
    margin: 50px 0 20px 0;
    color: $primary-color-font;
  }
  &__title {
    letter-spacing: 2px;
    margin-bottom: 20px;
    &:not(:first-child) {
      margin-top: 50px;
    }
  }

  &__card {
    flex: 1;
    color: $primary-color-font;
    display: flex;
    flex-direction: column;
    &:not(:last-child):not(:first-child) {
      margin: 0 10px;
    }

    &:first-child {
      margin-right: 10px;
    }

    &:last-child {
      margin-left: 10px;
    }
    .card {
      &__small {
        opacity: 0.5;
        display: block;
        margin: 5px 0;
      }

      &__image {
        // flex: 1;
        height: 20vw;
        object-fit: cover;
        width: 100%;
        min-width: 200px;
        margin-bottom: 10px;
      }

      &__price {
        &::before {
          content: "$";
        }
      }
    }
  }

  &__show {
    display: flex;
    &:not(:first-child) {
      margin-bottom: 50px;
    }
  }
}
