html,
body,
#root {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #1b2838;
}

.App {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fefefe;
}

h2,
h1 {
    animation: infinite in 4s linear;
}

.background {
    border: 1px solid red;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    opacity: 0.3;
}
img {
    flex: 33%;
}
@keyframes in {
    0% {
        opacity: 0;
    }
}
