.footer {
  padding: 20px 60px;
  background-color: $primary-color-lighter;
  @include FlexStretch;

  &__col {
    & > * {
      margin-bottom: 5px;
    }
  }

  h4 {
    opacity: 0.5;
    color: $primary-color-font;
  }

  a {
    display: block;
    font-size: 0.88em;

    color: $primary-color-font;
  }

  p {
    color: $primary-color-font;
    font-weight: 500;
  }
}

@media only screen and (max-width: 900px) {
  .footer {
    padding: 20px 10px;
    background-color: $primary-color-lighter;
    @include FlexStretch;
    flex-direction: column;

    &__col {
      margin-bottom: 20px;
    }
  }
}
